@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "VinnytsiaSansReg";
  src: url("../../public/fonts/vinnytsiasansreg.ttf");
}

@import "./colors.scss";
@import "./categories.scss";
@import "./reset.scss";





*{
  font-family: VinnytsiaSansReg;
}

body {
  color: (var(-textVisions));
  background: (var(--weit))
}

.nav {
  a{
margin-left: 10px;
width: 120px;
text-align: center
}
.qw{
  width:170px
}
}


